body {
    background-color: rgba(0, 105, 150, 0.5);
}
/*estilo do menu*/
.menu {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 105,150, 0.5);
}
.menu ul {
    display: flex;
    padding: 20px 0;
}
.menu ul li {
    color: white;
    text-decoration: none;
    list-style: none;
    flex: 1;
    text-align: center;
}
.menu ul li a {
    color: #fff;
    position: center;
}
.menu ul li a:hover {
    text-decoration: underline;
    color: rgba(126, 217, 86, 1);
}
/*Estilo do topo*/
.topo {
    height: 600px;
    background-image: url(../Imagem/sport-kit-for-healthy-slimming.jpg);
    background-size: cover;
    background-position: top center;
}
/*texto*/

h1 {
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto h3 {
    margin: 30px 0;
    text-align:center ;

}
.texto p {
    padding: 20px 20px;
    text-align: center;
}
/*Seções no index*/



/*Formatação das seções*/
section {
    width: 100%;
    height: 300px;
    display: flex;
}
section div {
    flex: 1;
}
#vida {
    background-color: rgba(255, 255, 255, 1);
    height: 800px;
    text-align: center;
    background-image: url(../Imagem/pilares.jpg);
    background-repeat: no-repeat;
    background-size: 950px;
    background-position: bottom center;
}
#fisico {
    background-color: rgba(255, 255, 255, 1);
    height: 300px;
    text-align: center;
    background-image: url(../Imagem/fisicos.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100px;
}

#composicao {
    background-color: rgba(255, 255, 255, 1);
    height: 300px;
    text-align: center;
    background-image: url(../Imagem/maça.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100px;
}

#saudavel {
    background-color: rgba(255, 255, 255, 1);
    height: 300px;
    text-align: center;
    background-image: url(../Imagem/cardapio\ saudável.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 150px;
   
}
/*Exercícios físicos*/
#exercicios {
    background-color: rgba(255,255, 255, 1);
    height: 600px;
}
#exercicios .imagem{
    background-image: url(../Imagem/tabela\ de\ exercicios.png);
    background-repeat: no-repeat;
    background-position: center; /* center center*/
    height: 100%;
    background-size: cover;
    
}
/*composição alimestos*/
#alimentos, #alimentos3 {
    background-color: rgba(255, 255, 255, 1);
}
#alimentos2 {
    background-color: rgba(255, 255, 255, 1);
    
}
#alimentos .imagem {
    background-image: url(../Imagem/proteinas.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 35px 70px; /* center center*/
}
#alimentos2 {
    background-image: url(../Imagem/carboidrato.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 15px 5px; /* center center*/
}
#alimentos3 {
    background-image: url(../Imagem/lipideos.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 700px 35px;
}

/*Cardapio saudável*/
#cardapio, #cardapio3 {
    background-color: rgba(255, 255, 255, 1);
}
#cardapio2, #cardapio4 {
    background-color: rgba(255, 255, 255, 1);
}
#cardapio {
    background-image: url(../Imagem/Macronutrientes-removebg.png);
    height: 350px;
    background-repeat: no-repeat;
    background-position: 800px 5px;
}
#cardapio2 {
    background-image: url(../Imagem/tabelagastocalorico.jpg);
    height: 340px;
    background-repeat: no-repeat;
    background-position: 70px 20px;
}
#cardapio3 {
    background-image: url(../Imagem/Macronutrientes2.jpg);
    background-repeat: no-repeat;
    background-position: 630px 100px;
    height: 450px;
}
#cardapio4 {
    background-image: url(../Imagem/weight-loss-scale-with-vegetables-and-fruits-diet-concept-top-view.jpg);
    background-repeat: no-repeat;
    background-position: 70px 90px;
    height: 500px;
}

/*rodapé*/
footer {
    background-color: rgba(0, 105,150, 0.5);
}
